##loop is a used for iterating over a set of statements repeatedly

### The while Loop
With the while loop we can execute a set of statements as long as a condition is true.

The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.

### It is similar to "repeated if statement"

### Example
Print i as long as i is less than 6:

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

**Note: remember to increment i, or else the loop will continue forever.**

### The break Statement
With the break statement we can stop the loop even if the while condition is true:

### Example
Exit the loop when i is 3:

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

### The continue Statement
With the continue statement we can stop the current iteration, and continue with the next:

### Example
Continue to the next iteration if i is 3:

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

### The else Statement
With the else statement we can run a block of code once when the condition no longer is true:

### Example
Print a message once the condition is false:

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

### For Loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
numbers = [1, 2, 4, 6, 11, 20]

# variable to store the square of each num temporary
sq = 0

# iterating over the given list
for val in numbers:
    # calculating square of each number
    sq = val * val
    # displaying the squares
    print(sq)

### The for loop does not require an indexing variable to set beforehand.

### Print each fruit in a fruit list:

In [ ]:
fruits = ["apple", "apple", "cherry"]
for y in fruits:
  print(y)

apple
apple
cherry

### The break Statement
With the break statement we can stop the loop before it has looped through all the items:

###Example
Exit the loop when x is "banana":

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

### Example
Exit the loop when x is "banana", but this time the break comes before the print:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

###The continue Statement
With the continue statement we can stop the current iteration of the loop, and continue with the next:

###Example
Do not print banana:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

###The range() Function
To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

###range(n): generates a set of whole numbers starting from 0 to (n-1).
For example:
range(8) is equivalent to [0, 1, 2, 3, 4, 5, 6, 7]

###range(start, stop): generates a set of whole numbers starting from start to stop-1.
For example:
range(5, 9) is equivalent to [5, 6, 7, 8]

###range(start, stop, step_size): The default step_size is 1 which is why when we didnâ€™t specify the step_size, the numbers generated are having difference of 1. However by specifying step_size we can generate numbers having the difference of step_size.
For example:
range(1, 10, 2) is equivalent to [1, 3, 5, 7, 9]

In [ ]:
for x in range(6,13,3):
  print(x)

6
9
12

###Note that range(6) is not the values of 0 to 6, but the values 0 to 5.

###The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):

In [ ]:
for x in range(2, 6):
  print(x)

In [ ]:
for x in range(2, 30, 3):
  print(x)

###calculate and display the sum of first 5 natural numbers.

In [ ]:
sum = 0

# iterating over natural numbers using range()
for val in range(1, 6):
    # calculating sum
    sum = sum + val

# displaying sum of first 5 natural numbers
print(sum)

###Nested Loops
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

###Example
Print each adjective for every fruit:

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)